::ng-deep .dropdown-menu {
    max-height: 300px;
    width: 95%;
}

.mask {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 30px 20px;
    height: 500px;
    border: 1px solid #DDDDDD;
}

.row {
    transition: all .5s ease-out;
}

.row:hover {
    box-shadow: 0 1px 25px 0 rgba(32, 32, 32, .28);
    transform: translateY(-1px);
}

::selection {
    color: #000;
    background-color: #FB0;
}